@import url(./fonts.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

.Out {
    width: 800px;
    min-height: 300px;
    background-color: rgb(211, 212, 212);
    border-radius: 10px;
    border: 2px solid rgb(145, 145, 145);
    padding: 40px;
}

.In {
    width: 800px;
    height: 300px;
    background-color: rgb(211, 212, 212);
    border-radius: 10px;
    border: 2px solid rgb(145, 145, 145);
    position: relative;
}

/* Buttons */

.buttons {
    height: 50px;
    display: flex;
    align-items: center;
}

/* EditButton */

.editButton {
    width: 40px;
    height: 30px;
    background-color: rgb(214, 202, 94);
    border-radius: 5px;
    border: none;
}

.editButton:hover {
    background-color: rgb(196, 187, 106);
}

.editButton:focus {
    box-shadow: 0 0 0 3px rgb(253, 243, 146);
}

/* StyleButton */

.styleButton {
    width: 40px;
    height: 30px;
    background-color: rgb(119, 198, 235);
    border-radius: 5px;
    border: none;
}

.styleButton:hover {
    background-color: rgb(102, 161, 209)
}

.styleButton:focus {
    box-shadow: 0 0 0 3px rgb(173, 243, 255);
}

/* In */
.In {
    display: flex;
    justify-content: center;
}

.inArea {
    width: 740px;
    height: 170px;
    resize: none;
    padding: 40px;
    outline: none;
    border-radius: 7px;
}

.inArea:focus {
    box-shadow: 0 0 3px 3px rgb(62, 177, 223);
}

.inForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    visibility: hidden;
}

/* InButtons */

.inButtonos {
    margin-top: 20px;
}

.addButton {
    height: 30px;
    width: 40px;
    background-color: red;
    border-radius: 7px;
    border: none;
}

.addButton:hover {
    background-color: rgb(146, 25, 25);
}

.addButton:focus {
    box-shadow: 0 0 3px 3px rgb(255, 135, 135);

}

.saveButton {
    height: 30px;
    width: 40px;
    background-color: green;
    border-radius: 7px;
    border: none;
}

.saveButton:hover {
    background-color: rgb(23, 85, 23);
}

.saveButton:focus {
    box-shadow: 0 0 3px 3px rgb(147, 243, 147);
}


/* Style Form */
.styleBlock {
    width: 400px;
    height: 280px;
    position: absolute;
    top: 8px;
    left: 0px;
    padding: 20px 20px 20px 20px;
    visibility: hidden;
}

.styleForm {
    width: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fontSizeBlock {
    display: flex;
    flex-direction: column;
}

.radioBlock {
    width: 300px;
    margin: 10px 0 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fontBlock {
    display: flex;
    flex-direction: column;
}

.styleOption {
    margin: 10px 0 10px;
    width: 260px;
    height: 40px;
}

.styleColorButton {
    margin-top: 10px;
}

.styleTextBlock {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.styleTextCheckbox {
    margin-top: 10px;
}

b {
    font-size: 15px;
}

/* color menu */
.backgroundColorMenu {
    width: 150px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 70px;
    left: 550px;
    visibility: hidden;
}

.textColorMenu {
    width: 150px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 70px;
    left: 550px;
    visibility: hidden;
}

.clolrMenuBlock {
    width: 50px;
    height: 50px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}

.yellow {
    background-color: yellow;
}

.pink {
    background-color: pink;
}

.white {
    background-color: white;
}

.violet {
    background-color: violet;
}

.cadetblue {
    background-color: cadetblue;
}

/* chooseForm */
.container2 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    visibility: hidden;
}

.chooseForm {
    margin-bottom: 20px;
    width: 110px;
    display: flex;
    justify-content: space-between;
}

.createBlock {
    width: 800px;
    margin: 50px auto;
    background-color: rgb(211, 212, 212);
    border-radius: 10px;
    border: 2px solid rgb(145, 145, 145);
    padding: 40px;
    position: relative;
}

.tableBlock {
    visibility: hidden;
    display: flex;
    flex-direction: column;
}

.tableSmallBlocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.tableBorder {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.smallBorderblock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}


/* List */
.listSmallBlocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.listBlock {
    position: absolute;
    top: 130px;
    left: 43px;
    width: 80%;
    visibility: hidden;
}